@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
  background: #fbfefb;
  font-family: 'Poppins', sans-serif;
}

.nuxt-link-active:not(.not-active) {
  @apply outline-none ring ring-green-200
}

a:not(.not-active):target-within {
  @apply outline-none ring ring-green-200
}
a:not(.not-active):target {
  @apply outline-none ring ring-green-200
}
a:not(.not-active):focus {
  @apply outline-none ring ring-green-200
}
a:not(.not-active):active {
  @apply outline-none ring ring-green-200
}

.content h2{
  @apply text-xl font-medium text-gray-700
}

.content{
  @apply text-gray-800
}


.theme-focus:active {
  @apply outline-none bg-yellow-100 ring ring-green-200
}
.theme-focus:focus {
  @apply outline-none bg-yellow-100 ring ring-green-200
}

.detail-content h1,
.detail-content h2,
.detail-content h3,
.detail-content h4,
.detail-content h5,
.detail-content h6,{
  @apply font-semibold;
}

.detail-content h3{
  @apply text-3xl;
}
.detail-content h4{
  @apply text-2xl;
}
.detail-content h5{
  @apply text-xl;
}
.detail-content h6{
  @apply text-lg;
}


.detail-content pre {
  @apply bg-gray-100 overflow-x-scroll max-h-screen p-5 rounded-xl;

  &::-webkit-scrollbar {
    @apply w-5 h-5 rounded-2xl;
  }

  &::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-gray-200 border-2 rounded-xl;
  }

}


.data-type-button {
  @apply w-1/2 absolute top-0 h-full bg-green-100 transition-all rounded-full;
  &.playlist-active {
    animation: dataTypeAnimation-playlist-active 0.2s ease-in-out;
    animation-fill-mode: forwards;
  }
  &.videos-active {
    animation: dataTypeAnimation-video-active 0.2s ease-in-out;
    animation-fill-mode: forwards;
  }
}

@keyframes dataTypeAnimation-playlist-active {

  0%  {
    @apply left-32;
  }

  100% {
    @apply left-0;
  }

}

@keyframes dataTypeAnimation-video-active {

  0%  {
    @apply left-0;
  }

  100% {
    @apply left-32;
  }

}
